*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    /*background-color: #80A4ED; */
    background-color: #E0A75E;
    margin: 0;
    padding: 0;
}

.titulo {
    background-color: #973131;
    color: white;
    
    width: 100%;
    height: 5rem;

    text-align: center;
    font-size: 0.8rem;
    
    display: grid;
    align-items: center;
}

section {
    background-color: #F9D689;
    margin: 1rem 1rem 7rem 1rem;
    padding: 1rem 1rem 3rem 1rem;
    border-radius: 0.5rem;
}

.paragraph {
    font-size: medium;
    text-align: left;
    text-transform: capitalize;
    text-decoration: underline;
}

blockquote {
    background-color: #F5E7B2;
    border-left: 0.3rem solid #a89e78;
    margin: 0;
    padding: 1rem;
    width: 100%;
    height: 3rem;
    display: table;
    box-sizing: border-box;
}

blockquote p {
    display: table-cell;
    vertical-align: middle;

    color: rgb(50, 50, 50);

    font-size: medium;
    text-align: left;

}

.box1 {
    background-color: lightblue;
    margin: 0.5rem 0rem; 
    padding: 0.05rem 2rem;
    border: 1px solid cornflowerblue;
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.05rem 0.2rem 0.05rem;
    text-align: center;
    font-weight: bold;
}

.box2 {
    background-color: lightcoral;
    margin: 0.5rem 0rem;
    padding: 0.05rem 2rem;
    border: 2px solid black;
    border-radius: 0.6rem;
    box-shadow: 0.07rem 0.07rem 0.2rem 0.05rem;
    text-align: center;
    font-weight: bold;
}

.relativo {
    position: relative;
    top: 100%;
    left: 0%;

    background-color: #88b0ff;
    width: 100%;
    height: 15rem;
    padding: 1rem;
    box-sizing: border-box;

    text-align: center;
    font-style: italic;

    
}

.absoluto {
    position: absolute;
    top: 30%;
    left: 40%;

    background-color: rgb(20, 0, 150);
    width: 50vw;
    height: 2.5rem;
    padding: 0;
    margin: 0;

    text-align: center;
    font-style: italic;
    color:white;
    
    border-radius: 0.2rem;

}


.grid-container {
    display: grid;
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1rem;
    align-items: center;
    justify-content: center;
    
}

.grid-item {
    background-color: brown;
    height: 4rem;
    width: 30vw;
    margin: 0rem;

    border-radius: 5px;
    text-align: center;
    color:white;

    display:grid;
    align-items: center;
}

.container {
    display:grid;
    grid-template-rows: 1fr;
    justify-items: center;
}

.mover {
    background-color: brown;
    width: 10rem;
    height: 10rem;
    margin: 5rem 0rem;

    border-radius: 1rem;
    animation: mover 2s infinite;


}
@keyframes mover {
    0% {
        transform: translateX(-35vw) rotate(0deg);
    }
    50% {
        transform: translateX(35vw) rotate(360deg);
    }
    100% {
        transform: translateX(-35vw) rotate(0deg);
    }
}

.animacion {
    background-color: rgb(104, 0, 0);
    width: 10rem;
    height: 10rem;
    margin: 5rem;
    position: relative;

    border-radius: 1rem;
}

.animacion:hover{
    background-color: cornflowerblue;
    transition: 0.3s ease;
    cursor: pointer;
    animation: sacudir 0.03s infinite;
}
@keyframes sacudir {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-3deg);
    }
    100% {
        transform:rotate(3deg);
    }
}

@media (max-width: 768px) {
    body {
      background-color: #6295A2;
    }

    .titulo {
        background-color: #34535c;
    }
    .titulo h1 {
        font-size: 1.2rem;
    }

    section {
        background-color: #80B9AD;
        padding: 0.8rem;
        margin: 1rem 1rem 5rem 1rem;
    }
    blockquote {
        background-color: #caffbd;
        border-left: 0.3rem solid #7ca870;

    }
    .mover {
        width: 4rem;
        height: 4rem;
    }
    .animacion {
        width: 4rem;
        height: 4rem;
    }

  }
